        /*
Lección 3: Tarea de posicionamiento con CSS. Todo el trabajo debe hacerse en este archivo, por lo que si estás tocando cualquier otro
archivo en cualquiera de estas carpetas, estás en el lugar equivocado.
*/
        /* Ejercicio 1: Centrar el texto en un span */
        
        #ejercicioUno {
            display: block;
            text-align: center;
        }
        /* Ejercicio 2: Posicionar el header */
        
        #ejercicioDos {
            display: none;
        }
        /* Ejercicio 3: */
        
        #ejercicioTres {
            display: block;
            position: relative;
            left: 200px;
            top: 100px;
        }
        /* Ejercicio 4: */
        
        #ejercicioCuatro {
            display: inline-block;
            position: absolute;
            left: 0px;
            top: 0px;
        }
        /* Ejercicio 5: */
        
        #ejercicioCinco {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        /* Ejercicio 6. */
        
        #ejercicioCinco {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row-reverse;
        }
        /* Ejercicio 7. */
        
        #ejercicioSiete {
            display: flex;
            flex-direction: row-reverse;
            flex-shrink: unset;
            justify-content: center;
            align-items: flex-end;
        }
        /* Ejercicio 8. */
        
        #elementoUno {
            position: relative;
            top: 15px;
            left: 10px;
        }
        
        #elementoDos {
            position: relative;
        }
        
        #elementoTres {
            position: absolute;
            top: 100px;
            left: 80px;
        }
        
        #elementoCuatro {
            position: sticky;
            top: 100px;
            left: 80px;
        }